<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-row>
      <ion-col size="12" size-lg="6">
        <ion-row>
          <ion-col size="3" size-lg="1">
            <img src="../../assets/img/logogaspar.png" class="logo">
          </ion-col>
          <ion-col size="9" size-lg="11">
            <h1>E.E Dr Gaspar Ricardo Junior</h1>
          </ion-col>
        </ion-row>
      </ion-col>

      <ion-col size="12" size-lg="6" class="ion-text-end">
        <ion-row class="ion-justify-content-end">
          <ion-col size="12" size-lg="auto">
            <ion-item lines="none" routerLink="/galeria">
              <ion-icon name="albums-outline" slot="start"></ion-icon>
              <ion-label slot="end" >Galeria</ion-label>
            </ion-item>
          </ion-col>
          <ion-col size="12" size-lg="auto">
            <ion-item lines="none" routerLink="/galeria">
              <ion-icon name="chatbubble-outline"></ion-icon>
              <ion-label slot="end">Secretaria</ion-label>
            </ion-item>
          </ion-col>
          <ion-col size="12" size-lg="auto">
            <ion-item lines="none" routerLink="/galeria">
              <ion-icon name="megaphone-outline"></ion-icon>
              <ion-label slot="end">Reclame Aqui </ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row [@openClose]="isOpen ? 'open' : 'closed'">
      <ion-col size="12" size-lg="6">
        <ion-item lines="none" class="telefone">
          <ion-icon name="call-outline"></ion-icon>
          <ion-label>(15) 3266-1666</ion-label>
        </ion-item>
      </ion-col>

      <ion-col size="12" size-lg="6" class="ion-text-end">
        <ion-item lines="none" class="endereco">
          <ion-icon name="location-outline" slot="end"></ion-icon>
          <ion-label slot="end">R. Santo Antônio, 186 - Centro, Iperó - SP, 18560-000</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content 
  [fullscreen]="true"
  [scrollEvents]="true"
  (ionScroll)="handleScroll($any($event))"
  >

  <!-- TITULO -->
  <ion-row class="ion-justify-content-center">
    <ion-col size="12" class="ion-text-center">
      <H1>Seja Bem-Vindo</H1>
    </ion-col>
  </ion-row>

  <!-- SUBTITULO -->
  <ion-row class="ion-justify-content-center">
    <ion-col size="12" class="ion-text-center">
      <h2>Nesse site você vai conhecer um pouco mais sobre a Escola Estadual Dr. Gaspar Ricardo Júnior e ver seus
        projetos</h2>
    </ion-col>
  </ion-row>

  <!-- SLIDE -->
  <ion-row class="ion-justify-content-center">
    <ion-col size="12" size-lg="8" class="ion-text-center">
      <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../../assets/img/gaspar.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../assets/img/Biblioteca 1.jpeg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../assets/img/Pracinha.jpeg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../assets/img/refeitorio.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../assets/img/quadra.jpeg" class="d-block w-100" alt="...">
          </div>
        
        </div>
      </div>
    </ion-col>

  </ion-row>


  <!-- TITULO -->
  <ion-row class="ion-justify-content-center">
    <ion-col size="12" class="ion-text-center">
      <H1>Dr. Gaspar Ricardo</H1>
    </ion-col>
  </ion-row>

  <!-- SUBTITULO -->
  <ion-row class="ion-justify-content-center">
    <ion-col size="12" class="ion-text-center">
      <h2>Gaspar Ricardo Júnior nasceu em São Paulo em 1887 e se formou engenheiro pela Escola Politécnica. Faleceu em
        1937. Desde outubro de 1944 é homenageado com o seu nome em uma escola municipal em Iperó/SP.
        Gaspar Ricardo Júnior foi um dos administradores que mais se firmou na memória da ferroviária brasileira, da
        estrada de Ferro Sorocabana. Ocupou por três vezes o cargo de diretor da Estrada de Ferro Sorocabana. Durante a
        sua vida nunca se descuidou dos estudos, tendo feito várias conferências técnicas e participado do ensino na
        Escola Politécnica como professor. Foi vereador na Câmara Paulistana, diretor do Instituto de Engenharia de São
        Paulo e presidente doRotary Club de São Paulo, entre outros. Ramo de atuação: Industrial.Formou-se em Engenharia
        Civil em 1912, pela Escola Politécnica.</h2>
    </ion-col>
  </ion-row>

  <!-- TITULO -->
  <ion-row class="ion-justify-content-center">
    <ion-col size="4" class="ion-text-center">
      <img src="../../assets/img/patronoGaspar.jpg" class="logo">
    </ion-col>
  </ion-row>


<!-- TITULO -->


<!-- <ng-container *ngFor="let reclamacao of this.reclamacoes">
  <ion-row class="ion-justify-content-center">
    <ion-col size="4" class="ion-text-center">
      <ion-item>
        <h1>{{ reclamacao.texto }}</h1>
        <ion-icon name="trash-outline" slot="end" (click)="remover(reclamacao)"></ion-icon>
      </ion-item>
    </ion-col>
  </ion-row>
</ng-container> -->


</ion-content>